//$base-color:#3f51b5;
$color:rgba(0, 0, 0, 0.7);
//$font-size:15px;
$font-weight:'bold';
$font-family:'"Microsoft YaHei","Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "egoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif';